.main-container {
  width: 80%;
  margin: 80px auto;
}
.card_img {
  flex: 1;
  min-width: 400px;
  max-width: 500px;
  height: 400px;
  overflow: hidden;
  margin: 12px;
}

.small_img {
  height: 100%;
  cursor: pointer;
  transition: all linear 0.4s;
  min-width: 500px;
}

.small_img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#modal_img {
  width: 65vw;
  transform: scale(0);
  transition: all linear .3s;
}

.modal_active #modal_img {
  transform: scale(1);
}